<div class="content_shop">
  <a href="#"><%= image_tag(shop.square_image, width: '165', height: '165')%>
    <div class="content_shop__title">
      <p><%= shop.shop_name %></p>
    </div>
    <div class="content_shop__detail">
    </a>
    <p><%= shop.shop_detail %></p>
  </div>
</div>
