<div class="content_inner__side__content">
  <%= image_tag(rank_shop.index_image, height: '217') %>
  <div class="content_inner__side__content__title">
    <%= rank_shop.shop_detail %>
  </div>
</div>
