// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  width: 100%;
}
.header{
  width: 100%;
  position:relative;
  &_inner{
    width: 1085px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    &__title{
      margin: 0;
      width: 100%;
      float: left;
      font-size: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &__login{
      margin: 10px;
      text-align: center;
      float: right;
    }
  }
}

.nav{
  width: 100%;
  height: 60px;
  border-bottom: solid #D3D3D3 1px;
}

.nav_inner{
  width: 1085px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  &_list{
    list-style: none;
    font-size: 20px;
    padding: 15px;
    margin-left: 200px;
    &__content{
      display: inline;
      padding: 0 30px;
      border-right:  solid #D3D3D3 1px;
    }
    &__fin{
      display: inline;
      padding: 30px;
    }
  }
}

.home-header{
  width: 1440px;
  height: 218px;
  &_inner{
    width: 1085px;
    height: 100%;
    margin: 0 auto;
  }
}

 .list-home{
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  &__content{
    float: left;
    height: 218px;
    width: 290px;
    position: relative;
    border-right: solid #000 1px;
    :hover img{
      opacity: 0.7;
      filter: alpha(opacity=70);
      -ms-filter: "alpha(opacity=70)";
    }
    &_pickup{
      background: #f5f7f8;
      height: 217.4px;
      width: 215px;
      float: left;
      display: table;
      p{
        opacity: 0.7;
        filter: alpha(opacity=70);
        -ms-filter: "alpha(opacity=70)";
        margin: 0;
        vertical-align:middle;
        text-align: center;
        line-height: 217.4px;
      }
    }
  }
  &__title{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding: 12px;
    bottom:0;
    left: 0;
  }
}

.content{
  width: 100%;
  height: 1000px;
  background: #f5f7f8;
  &_inner{
    width: 1085px;
    height: 1000px;
    margin: 0 auto;
    background: #fff;
    &__main{
      height: 100%;
      width: 690px;
      float: left;
      &_top{
        width: 100%;
        height: 80px;
        position: relative;
        &_title{
          position: absolute;
          bottom:20px;
          left: 50px;
          color: #000;
        }
        span{
          width: 100%;
          border-bottom: solid #D3D3D3 1px;
        }
      }
      &__content{
        height: 500px;
        width: 620px;
        margin: 0 auto;
        &_head{
          height: 200px;
          width: 100%;
          border-bottom: solid #D3D3D3 1px;
          &_image{
            float: left;
          }
          &_text{
            float: left;
            width: 360px;
            margin-left: 25px;
            font-size: 18px;
          }
        }
        &_buttom{
          margin: 20px 0;
          height: 300px;
          width: 280px;
          float: left;
          &_image{
            float: left;
          }
          &_text{
            margin-left: 16px;
            width: 160px;
            float: left;
            font-size: 14px;
          }

        }
      }
    }
    &__side{
      width: 395px;
      float: left;
      &_top{
        height: 80px;
        width: 100%;
        p{
          padding-top: 40px;
          padding-left: 50px
        }
      }
      &__content{
        margin:0 50px;
        &__title{
          height: 60px;
          font-size: 14px;
          // font-weight: 00;
          color: #000;
        }
      }
    }
  }
}

//以下shops/show
.shop_header{
  width: 100%;
  position: relative;
  &_inner{
    width: 1085px;
    height: 100px;
      margin: 0 auto;
      padding: 0;
      hr{
        width: 1085px;
        background-color: #fff;
        border-top: 2px dotted #bbb;
      }
      /* パンくずリスト */
      #bread-crumb-list {
        padding: 0;
      margin: 0;
        width: 400px;
      text-align: left;
    }
    #bread-crumb-list li {
      display: inline;
      margin: 0;
      padding: 0;
      list-style-position:outside;
      text-align: left;
    }
    #bread-crumb-list li a {
      color: #333333; /* 通常時の文字色 */
    }
    #bread-crumb-list li a:hover {
      text-decoration: underline;
      color: #bbbbbb; /* マウスオンした時の文字色 */
    }
    p{
      display: inline;
      font-size: 30px;
      font-weight: bold;
      margin: 0;
    }

       /* rating */
      .star_rating{
      overflow: hidden;
      position: relative;
      // width: 5em;
      // height: 1em;
      font-size: 25px;
        &_front{
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          color: #ffcc33;
        }
        &_back{
          color: #ccc;
        }
    }
  }
}

.shop_rate{
  float: left;
}

.rate_num{
  margin-left: 20px;
}

.shop{
  width: 100%;
  position: relative;
  display: flex;
  &_inner{
    width: 1085px;
    margin: 0 auto;
    display: flex;
    &_main{
      padding: 0;
      img.bigimg{
        margin-top: 20px;
        width: 630px;
        height: 500px;
        object-fit: cover;
        border: 3px #ccc solid;
      }
      .inline{
        display: inline-block;
        img.smallimg{

        }
        hr{
          border-top: 1px dotted #8c8b8b;
        }
      }
    }
    &_side {
      width: 60%;
      align-items: center;
      justify-content: center;
      padding: 50px 0px 50px 50px;
      a{
        color: #606060;
        font-size: 15px;
        font-weight: bold;
        &:hover{
          text-decoration: none;
        }
      }
      img{
        width: 25px;
        &.phone{
          display: inline-block;
          width: 30px;
        }
        &.rank{
          margin: 0;
          width:  30px;
          height: 30px;
          display: inline-block;
        }
        &.shop{
          vertical-align: middle;
          margin: 0;
          width: 50px;
          height: 50px;
          display: inline-block;
          object-fit: cover;
        }
      }
      p.phone{
        display: inline;
        font-size:34px;
        font-weight: bold;
        vertical-align: middle;
      }
      p.ranking{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
        padding-top: 50px;
      }
      hr{
        border-top: 1px dotted #8c8b8b;
      }
    }
  }
}

  /* スクロール追従 */
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* 行きたい/行ったボタン */
.fav_box{
  background-color: #eeece4;
  padding: 10px;
  float: right;
  margin-top: 10px;
  img{
    &.fav_button{
    margin: 0px 5px 0px;
    }
    &.fav_button:hover{
    opacity: 0.5;
    cursor: pointer;
    }
    &.fav_button:active{
    position: relative;
    top: 3px;
    }
  }
}

/* ドロップダウンメニュー */
.menu {
  list-style-type: none;
  width: 1085px;
  margin: 30px auto 500px;
  padding: 0;
}

.menu > li {
  float: left;
  width: 20%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  &:hover{
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  a{
    display: block;
    margin: 0;
    padding: 16px 0;
    font-size: 14px;
    font-weight: bold;
    color: #111111;
    line-height: 1;
    text-decoration: none;
    border: 1px #ccc dotted;
    &:hover{
      color: #999;
    }
  }
}

.menu > li.menu_single {
  position: relative;
  ul.menu_second-level {
    padding: 0;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 40px;
    width: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #fff;
  }
  &:hover ul.menu_second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
  }
}

/* floatクリア */
.menu:before,
.menu:after {
  content: " ";
  display: table;
}

.menu:after {
  clear: both;
}

.menu {
  zoom: 1;
}

.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

//横スク画像
.slider{
  position: relative;
  width: 630px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 0;
  .slide .slide_body{
    padding: 0 10px;
    img{
        width: 170px;
        height: 100px;
        object-fit: cover;
        border: 3px #ccc solid;
    }
  }

  .slick-dots{
    position: absolute;
    bottom: -20px;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 8px;
    }
    button{
      display: block;
      width: 10px;
      height: 10px;
      cursor: pointer;
      border: none;
      background: #eee;
      font-size: 0;
    }
    .slick-active button{
      background: #3d9;
    }
  }
  .slick-arrow{
    position: absolute;
    z-index: 10;
    top: 0;
    width: 2%;
    height: 100%;
    cursor:pointer;
    border: none;
    background: none;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    font-size: 0;
  }
  .slick-prev{
    left: 1%;
    transform: rotate(180deg);
    background-position: center 50%;
  }
  .slick-next{
    right: 1%;
  }
}
